.contenedor-historial {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.contenedor-estadisticas {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    padding: 20px;
    margin-bottom: 30px;
}

.contenedor-card-estadistica {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: rgb(230, 244, 255);
    border-radius: 10px;
}

.contenedor-card-estadistica:nth-child(2) {
    background-color: rgb(234, 255, 230);
}

.contenedor-card-estadistica:nth-child(3) {
    background-color: rgb(255, 230, 230);
}

.contenedor-turnos {

    margin: 10px;
}

.contenedor-card-turno {
    width: 450px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.contenedor-card-turno p:first-child {
    font-weight: bold;
}

#btn-volver-historial{
    position: absolute;
    left: 70px
}